/*
    RESET STYLES
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    margin-bottom: 10px;
    font-size: 50px;
}

button {
    font-family: inherit;
}

.change-dimensions-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    color: white;
    background: linear-gradient(90deg, #3e3e3e 0%, #848484 100%);
}

.change-dimensions-btn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #848484 0%, #3e3e3e 100%);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.canvas {
    display: flex;
}

.canvas-grids {
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid #bababa;
}