/*
RESET STYLES
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
ELEMENT STYLES
*/
body {
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

button {
    font-family: inherit;
}

/*
CLASS SELECTORS
*/
.container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.change-side-length-btn {
    background: linear-gradient(90deg, #3e3e3e 0%, #848484 100%);
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.change-side-length-btn:hover {
    background: linear-gradient(90deg, #848484 0%, #3e3e3e 100%);
    cursor: pointer;
}

.color-selector {
    border: none;
    height: 50px;
    width: 50px;
}

.canvas {
    display: flex;
}

.canvas-grids {
    border: 3px solid #bababa;
    display: grid;
    height: 500px;
    width: 500px;
}